.containerScrollear{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2000000000;
    padding: 2rem;
}

.scrollear{
    width: 40px;
    animation: bounce 1.5s infinite ease-in-out;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
}

.popover {
    z-index: 50000000000000000000;
    color: var(--colorclaro);
}


.popover-body{
    color: var(--colorclaro);
}