#containerDresscodeGeneral {
	height: 50vh;
	background-color: var(--colorverde1);
	color: var(--colorclaro);
}

#containerOpendoor,
#containerDresscode {
	height: 49.5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.iconOpendoor,
.iconDresscode {
	height: 50px;
	margin: 15px;
}

.titulOpendoor,
.titulDresscode {
	margin: 0;
	font-size: 28px;
	margin-bottom: 10px;
}

.horaOpendoor {
	font-size: 23px;
}

.horaDresscode {
	font-size: 19px;
}
