:root {
	--colorverde1: #386641;
	--colorverde2: #6a994e;
	--colorverde3: #a7c957;
	--colornegro: #464646;
	--colorclaro: #f2e8cf;
	--colorbordo: #bc4749;
}

body {
	font-family: "DM Sans", sans-serif;
	color: var(--colornegro);
}

.fuenteCursiva {
	font-family: "Lavishly Yours", cursive;
}

/* En tu archivo Donde.css */
/* En tu archivo Donde.css */
.marker-shadow {
	filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.4)); /* Sombra suave y más natural */
}
